@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background: url(../images/bg-desktop.svg) no-repeat;
    background-size: cover;
    background-position-x: -5rem;
    background-color: hsl(257, 40%, 49%);
    background-attachment: fixed;

    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 90%;
    margin: auto;
    
    display: flex;
    flex-direction: column;
}

.header{
    margin: 3rem 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.huddle-logo{
    display: block;
    max-width: 100%;
}

.container{
    position: relative;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 0 0 0;
}

.container__imgBx{
    width: 60%;
    margin: auto;
}

.imgBx__illustration{
    width: 90%;
    display: block;
}

.container__contentBx{
    width: 40%;
    display: block;
    margin: 5rem auto;

    color: white;
}

.contentBx__title{
    font-weight: 600;
    font-size: 3.2rem;
    margin: 0 0 2rem 0;
}

.contentBx__txt{
    font-size: 1.2rem;
    margin: 0 0 2rem 0;
}

.contentBx__btn{
    padding: 1.5rem 5rem;
    border: 0;
    border-radius: 2.5rem;
    box-shadow: 2px 2px 10px 0px black;

    background-color: white;

    color: hsl(257, 40%, 49%);
    font-size: 1.2rem;

    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.contentBx__btn:hover, .contentBx__btn:active{
    background-color: hsl(257, 40%, 49%);
    color: white;
}

.mediaBx{
    position: relative;
    width: 100%;
    height: 4rem;
    margin: 1.5rem 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mediaBx__list{
    display: flex;
    justify-content: center;
    height: 100%;
}

.mediaBx__links{
    display: flex;
    width: 4rem;
    margin: 0 0.5em;
    height: 100%;

    transform: scale(0.8);
    
}

.mediaBx__link-item{
    position: absolute;
    top: 0;
    height: 100%;
}

.mediaBx__link-icon{
    padding: 1rem;
    margin: auto 0;
    width: 4rem;

    fill: white;
    border: 2px solid white;
    border-radius: 3em;

    transform: scale(1);

    transition: all 0.2s ease-in-out;
}

.mediaBx__link-icon:hover {
    background-color: white;
    fill:hsl(257, 40%, 49%);
    border: 2px solid white;

    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
}

.attribution {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 1em 0 0;
    padding: 2em;

    background-color: rgba(0,0,0,0.5);
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1200px) {

    .body{
        background: url(../images/bg-mobile.svg) no-repeat;
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
    }

    .container{
        flex-direction: column;
        margin: 2rem 0 0;
    }
    .container__contentBx{
        width: 80%;
        text-align: center;
        margin: 4rem auto 0.5rem;
    }

    .contentBx__title{
        font-size: 3rem;
    }

    .contentBx__txt{
        font-size: 1.5rem;
        margin: 2rem 2rem 2rem 2rem;
    }

    .contentBx__btn{
        margin: 2rem;
    }

    .container__imgBx{
        margin: auto;
        width: 90%;
    }
    .imgBx__illustration{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container__contentBx{
        width: 80%;
        margin: 2rem auto 0.5rem;
    }
}


@media screen and (max-width: 400px) {
    .container__contentBx{
        width: 100%;
        margin: 2rem auto;
    }
    .contentBx__title{
        font-size: 2rem;
    }
}