@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'Poppins', sans-serif;
    background: url(../images/bg-desktop.svg) no-repeat;
    background-size: 100%;
    background-position-y: center;
    background-color: hsl(257, 40%, 49%)
}

.wrapper{
    width: 80%;
    margin: auto;
}

.huddle-logo{
    display: block;
    max-width: 17rem;
    height: 4rem;
    margin: 5rem 0;

    background: url(../images/logo.svg) no-repeat;
}



.media__list{
    display: flex;
}

.media__link-item{
    width: 0;
}

.media__link-icon{
    display: block;
    width: 5rem;
    padding: 1rem;

    filter: brightness(0) invert(1);
    border: 1px solid white;
    border-radius: 50%;

    transform: scale(0.5);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}